<ion-view view-title="Каталог">
  <ion-content class="content-my-bar">
    <ion-list>
      <ion-item ng-repeat="catalogue in catalogues" ng-click="send();" ng-if="catalogue.id !== 0" href="#/app/catalogue/{{catalogue.id}}">
        {{catalogue.title}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
