<ion-view view-title="Турбокомпрессор">
    <ion-content class="content-my-bar">

        <style>
            h1 {
                margin-left: 30px;
            }
            img {
                margin-left: 10px;
            }

            th {
                text-align: left;
                padding-left: 20px;
            }
            td {
                padding-left: 40px;
            }
        </style>

        <h1>{{catalogueUnit.title}}</h1>

        <img src="img/{{catalogueUnit.img}}.jpg" width="320" height="320">

        <table>
          <caption><h2>Техническая характеристика:</h2></caption>
          <tr><th><b>Двигатель:</b></th></tr>
          <tr><td>{{catalogueUnit.engine}}</td></tr>
          <tr><th><b>Транспортное средство:</b></th></tr>
          <tr><td>{{catalogueUnit.transp}}</td></tr>
          <tr><th><b>Масса (кг):</b></th></tr>
          <tr><td>{{catalogueUnit.weight}}</td></tr>
          <tr><th><b>Угол разворота a<sub>0</sub>:</b></th></tr>
          <tr><td>{{catalogueUnit.corner_a}}</td></tr>
          <tr><th><b>Угол разворота b<sub>0</sub>:</b></th></tr>
          <tr><td>{{catalogueUnit.corner_b}}</td></tr>
          <tr><th><b>Диаметр колеса компрессора (мм):</b></th></tr>
          <tr><td>{{catalogueUnit.DWheelComp}}</td></tr>
          <tr><th><b>Диаметр колеса турбины (мм):</b></th></tr>
          <tr><td>{{catalogueUnit.DWheelTurb}}</td></tr>
          <tr><th><b>Частота вращения вала ротора (об/мин):</b></th></tr>
          <tr><td>{{catalogueUnit.frequency}}</td></tr>
          <tr><th><b>Максимальнная степень повышения давления:</b></th></tr>
          <tr><td>{{catalogueUnit.maxp}}</td></tr>
          <tr><th><b>Производительность кг/с (м<sup>3</sup>/ч):</b></th></tr>
          <tr><td>{{catalogueUnit.prod}}</td></tr>
          <tr><th><b>Допустимая температура газов перед турбиной С&deg; без огр. по времени:</b></th></tr>
          <tr><td>{{catalogueUnit.maxC}}</td></tr>
          <tr><th><b>Адиабатический КПД компрессора (max):</b></th></tr>
          <tr><td>{{catalogueUnit.adiabKPD}}</td></tr>
          <tr><th><b>Эффективный КПД турбины (мах):</b></th></tr>
          <tr><td>{{catalogueUnit.effectiveKPD}}</td></tr>
          <tr ng-if="!catalogueUnit.analogBZA == ''"><th><b>Взаимозаменяемый аналог (БЗА):</b></th></tr>
          <tr><td>{{catalogueUnit.analogBZA}}</td></tr>
          <tr ng-if="!catalogueUnit.analogCzSt == ''"><th><b>Взаимозаменяемый аналог (Cz Strakonize):</b></th></tr>
          <tr><td>{{catalogueUnit.analogCzSt}}</td></tr>
          <tr ng-if="!catalogueUnit.analogServTurb == ''"><th><b>Взаимозаменяемый аналог (Сервис Турбо):</b></th></tr>
          <tr><td>{{catalogueUnit.analogServTurb}}</td></tr>
          <tr ng-if="!catalogueUnit.analogTurbTech == ''"><th><b>Взаимозаменяемый аналог (Турботехника НПП):</b></th></tr>
          <tr><td>{{catalogueUnit.analogTurbTech}}</td></tr>
          <tr ng-if="!catalogueUnit.analogSwitzer == ''"><th><b>Взаимозаменяемый аналог (Switzer):</b></th></tr>
          <tr><td>{{catalogueUnit.analogSwitzer}}</td></tr>
        </table>
    </ion-content>
</ion-view>
