<ion-side-menus enable-menu-with-back-views="false">
  <style>
    .previous-title {
      display: none !important;
    }
    .image {
      margin-top: -2px;
      margin-left: 0;
      margin-right: 5px;
      vertical-align: middle;
    }
  </style>
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable my-bar" >
      <ion-nav-back-button>
        <img class="image" src="img/logo-icon.png" width="30" height="30">
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <a class="button button-icon ion-navicon button-clear" menu-toggle="left">
          <img class="image" src="img/logo-icon.png" width="30" height="30">
        </a>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable my-bar" align-title="left">
      <h1 class="title">
        <img class="image" src="img/logo-icon.png" width="30" height="30">ТУРБОКОМ™
      </h1>
    </ion-header-bar>
    <ion-content class="content-my-bar">
      <ion-list>
        <!--
        <ion-item menu-close ng-click="login()">
          Логин
        </ion-item>
        -->
        <!--
        <ion-item menu-close href="#/app/search">
          Поиск
        </ion-item>
        <ion-item menu-close href="#/app/browse">
          Обзор
        </ion-item>
        -->
        <ion-item menu-close href="#/app/catalogue">
          Каталог ТК
        </ion-item>
        <ion-item menu-close href="#/app/tool">
          Угол разворота ТК
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
