<ion-view view-title="Угол разворота ТК">
  <ion-content ng-controller="DispAngleAppCtrl" class="content-my-bar">
    <body>

<div class="row-1">
    <div class="row-md-1">
        <div class="panel-heading">
            <h3 class="panel-title">Углы</h3>
        </div>
        <div class="panel-body">
            <div class="panel-body-row1">
                <div class="panel-body-col1">
                    <p><span class="alfa">&alpha; = {{angle1}}&deg;</span></p>
                  <div class="input-board-position1">
                    <input type="number"
                           id="ang_1"
                           onfocus="this.value = parseInt(value) || '';"
                           onblur="this.value = parseInt(value) || '0';"
                           ng-model="angle1"
                           ng-change="minmax_a(angle1, 0, 360)"
                           ng-keyup="change_val_keyup_a(angle1)">
                  </div>
                </div>
                <div class="panel-body-col2">
                    <p><span class="beta">&beta; = {{angle2}}&deg;</span></p>
                  <div class="input-board-position2">
                    <input type="number"
                           id="ang_2"
                           onfocus="this.value = parseInt(value) || &apos;&apos;"
                           onblur="this.value = parseInt(value) || &apos;0&apos;"
                           ng-model="angle2"
                           ng-change="minmax_b(angle2, 0, 360)"
                           ng-keyup="change_val_keyup_b(angle2)">
                  </div>
                </div>
            </div>
            <div class="panel-body-row2">
                <span class="alfa" style="font-size: 20pt;">&alpha;</span> - угол поворота корпуса компрессора.<br>
                <span class="beta" style="font-size: 20pt;">&beta;</span> - угол поворота корпуса турбины.
            </div>
        </div>
    </div>
    <div class="row-md-2">
        <div class="panel-heading">
            <h3 class="panel-title">Каталог турбокомпрессоров</h3>
        </div>
        <div class="panel-body">
            <p><select name="tclist"
                       id="tclist"
                       size="1"
                       ng-change="change_val_select(angle3)"
                       ng-model="angle3"
                       ng-options="option as option.title for option in data"></select>
			</p>
        </div>
        <div class="panel-body">
          <a ng-if="!angle3.id == &apos;0&apos;" class="animate-if button button-stable button-to-catalogue" ng-href="#/app/catalogue/{{angle3.id}}">
            {{angle3.title}}
          </a>
        </div>
    </div>
</div>

<div class="row-2">
    <div class="sign-1">
        <span style="color: #81a0ff;
						font-size: 14pt;
						font-weight: bold;">вид со стороны КОМПРЕССОРА</span>
    </div>
    <div class="img1">
        <img src="img/4_arrow_oil.png" id="image_4" width="50" height="30">
        <img src="img/3.png" id="image_3" width="50" height="80">
        <img src="img/2.png" id="image_2" width="120" height="120"
             ng-style="{
             '-webkit-transform': 'rotate('+'-'+angle2+'deg)',
             'transform': 'rotate('+'-'+angle2+'deg)',
             '-webkit-transition': '600ms ease-in-out 300ms',
             'transition': '600ms ease-in-out 300ms',
             '-webkit-transform-origin': '50% 50%',
             'transform-origin': '50% 50%'}">
        <img src="img/1.png" id="image_1" width="145" height="145"
             ng-style="{
             '-webkit-transform': 'rotate('+angle1+'deg)',
             'transform': 'rotate('+angle1+'deg)',
             '-webkit-transition': '600ms ease-in-out 300ms',
             'transition': '600ms ease-in-out 300ms',
             '-webkit-transform-origin': '50% 50%',
             'transform-origin': '50% 50%'}">
    </div>
</div>

<div class="row-3">
    <div class="sign-2">
        <span style="color: #ff4653;
						font-size: 14pt;
						font-weight: bold;">вид со стороны ТУРБИНЫ</span>
    </div>
    <div class="img2">
        <img src="img/4_2_arrow_oil.png" id="image_4_2" width="50" height="30">
        <img src="img/3_2.png" id="image_3_2" width="50" height="80">
        <img src="img/2_2.png" id="image_2_2" width="120" height="120"
             ng-style="{
             '-webkit-transform': 'rotate('+angle2+'deg)',
             'transform': 'rotate('+angle2+'deg)',
             '-webkit-transition': '600ms ease-in-out 300ms',
             'transition': '600ms ease-in-out 300ms',
             '-webkit-transform-origin': '50% 50%',
             'transform-origin': '50% 50%'}">
        <img src="img/1_2.png" id="image_1_2" width="145" height="145"
             ng-style="{
             '-webkit-transform': 'rotate('+'-'+angle1+'deg)',
             'transform': 'rotate('+angle1+'deg)',
             '-webkit-transition': '600ms ease-in-out 300ms',
             'transition': '600ms ease-in-out 300ms',
             '-webkit-transform-origin': '50% 50%',
             'transform-origin': '50% 50%'}">
    </div>
</div>


   </body>
  </ion-content>
</ion-view>
