/* Empty. Add your own CSS if you like */
    .row-1,.row-2,.row-3 {
      clear: both;
      width: 99%;
      margin-right: 5px;
      margin-left: 5px;
      margin-top: 5px;
    }
    .row-md-1,.row-md-2 {
      margin-bottom: 5px;
      background-color: #ffffff;
      border: 1px solid transparent;
      border-radius: 4px;
      -webkit-border-radius:4px; /* Safari, Chrome */
      -moz-border-radius:4px; /* Firefox */
      box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.05);
      -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.05); /* Safari, Chrome */
      -moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.05); /* Firefox */
      word-wrap: break-word;
    }
    .row-md-2{
        height: 150px;
    }
    .panel-heading {
      padding: 0 5px;
      border-bottom: 1px solid transparent;
      background-color: #dddddd;
      border-radius: 4px;
      -webkit-border-radius:4px; /* Safari, Chrome */
      -moz-border-radius:4px; /* Firefox */
    }
    .panel-title {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 16px;
      text-align: center;
    }
    .panel-body {
      margin-top: 5px;
      padding: 5px;
      text-align: center;
    }
    .input-board-position1, .input-board-position2 {
      float: right;
      border: 1px solid transparent;
      border-radius: 4px;
      -webkit-border-radius:4px; /* Safari, Chrome */
      -moz-border-radius:4px; /* Firefox */
      box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.05);
      -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.05); /* Safari, Chrome */
      -moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.05); /* Firefox */
      padding: 0 5px;
    }
    .input-board-position2 {
      float: left;
    }
    .panel-body-row1,.panel-body-row2{
      clear: both;
      width : 99%;
    }
    .panel-body-col1{
      float: left;
      margin-top: 0;
      text-align: right;
      width: 49%;
    }
    .panel-body-col2{
      float: right;
      margin-top: 0;
      text-align: left;
      width: 49%;
    }
    .alfa {
      color: #81a0ff;
      font-size: 24pt;
      font-weight: bold;
    }
    .beta {
      color: #ff4653;
      font-size: 24pt;
      font-weight: bold;
    }
    .row-2 {
      clear: both;
      height: 230px;
    }
    .sign-1,.sign-2 {
      clear: both;
      width: auto;
      background-color: #ffffff;
      border: 1px solid transparent;
      border-radius: 4px;
      -webkit-border-radius:4px; /* Safari, Chrome */
      -moz-border-radius:4px; /* Firefox */
      box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.05);
      -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.05); /* Safari, Chrome */
      -moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.05); /* Firefox */
      padding: 0 5px;
      word-wrap: break-word;
      text-align: center;
    }
    #ang_1, #ang_2{
        font-size: 14pt;
        width: 50px;
    }
    .img1, .img2 {
      clear: both;
    }
    #image_1{
      z-index: 1;
      position: absolute;
      margin-top: 38px;
      margin-left: 35%;
    }
    #image_2{
      position: absolute;
      left: 35%;
      margin-top: 53px;
      margin-left: 20px;
    }
    #image_3{
      position: absolute;
      left: 35%;
      margin-top: 72px;
      margin-left: 54px;
    }

    #image_4{
      position: absolute;
      left: 35%;
      margin-top: 20px;
      margin-left: 53px;
    }
    .row-3 {
        height: 230px;
    }
    #image_1_2{
      position: absolute;
      left: 35%;
      margin-top: 38px;
      margin-left: -15px;
    }
    #image_2_2{
      z-index: 1;
      position: absolute;
      left: 35%;
      margin-top: 53px;
      margin-left: -3px;
    }
    #image_3_2{
      position: absolute;
      left: 35%;
      margin-top: 72px;
      margin-left: 32px;
    }

    #image_4_2{
      position: absolute;
      left: 35%;
      margin-top: 20px;
      margin-left: 33px;
    }

	.animate-if {

	}
	.animate-if.ng-enter, .animate-if.ng-leave {
		transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	}
	.animate-if.ng-enter,	.animate-if.ng-leave.ng-leave-active {
		opacity:0;
	}
	.animate-if.ng-leave,	.animate-if.ng-enter.ng-enter-active {
		opacity:1;
	}
    .button-to-catalogue {
        width: 270px;
    }